<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woniu.soft.mapper.AdviceinfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.woniu.soft.entity.Adviceinfo">
        <id column="id" property="id" />
        <result column="med_advice_id" property="medAdviceId" />
        <result column="p_id" property="pId" />
        <result column="status" property="status" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, med_advice_id, p_id, status
    </sql>

</mapper>
