<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woniu.soft.mapper.ConsultationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.woniu.soft.entity.Consultation">
        <id column="id" property="id" />
        <result column="u_id" property="uId" />
        <result column="status" property="status" />
        <result column="w_id" property="wId" />
        <result column="aim" property="aim" />
        <result column="patient_condition" property="patientCondition" />
        <result column="diagnosis_treatment" property="diagnosisTreatment" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, u_id, status, w_id, aim, patient_condition, diagnosis_treatment
    </sql>

</mapper>
